.book-details-page {
  padding: 0 30px;
}

.book-details-page .title {
  border-bottom: 1px solid #dedede;
  width: max-content;
  text-transform: uppercase;
  margin: 15px auto;
  padding: 5px 0;
  color: #7f6d60;
}

.book-details {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.book-details-info {
  margin: 10px 20px;
  flex: 1;
  font-size: 14px;
}

.book-details-info .header {
  margin: 0;
  margin-right: 5px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #74a3ad;
  letter-spacing: -1.6px;
}
.book-details-info .authors,
.book-details-info .div-container,
.book-details-info .category {
  margin: 0;
  margin-bottom: 1em;
}

.book-details-info .div-container {
  display: flex;
  gap: 1em;
}

@media (min-width: 600px) {
  .book-details {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.book-details-img {
  padding: 10px;
  height: auto;
  display: grid;
  place-items: center;
  border: 1px solid #eee;
}

.book-details-img img {
  max-width: 100%;
  max-height: 100%;
}

.book-state-control select {
  padding: 5px 10px;
  border: 0;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #dedede;
  color: #7f6d60;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}

.book-desc h4 {
  border-bottom: 1px solid #dedede;
  width: max-content;
  text-transform: uppercase;
  margin: 5px auto;
  padding: 5px 0;
  color: #7f6d60;
}

.book-desc p {
  line-height: 1.6;
  font-size: 14px;
}
